
header {
  background-color: cornflowerblue;
  background-image: url('../images/gplay.png');
  /* height: 520px; */
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
}

img {
  padding-top: 130px;
}

.name {
  font-size: 40px;
  color: #FFFFFF;
  margin-top: 0%;
}