main p {
  align-self: center;
  color: #545149;
  background-color: cornsilk;
  width: 90%;
  flex-direction: column;
}

main form {
  padding-top: 1em;
  padding-left: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

textarea {
  display: flex;
  width: 95vw;
  height: 2.5em;
  outline: 0;
  border-width: 0 0 5px;
  border-color: #545149;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: large;
  background-color: cornsilk;
}

textarea:focus {
  border-color: #545149;
}

.tweet-text {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

.counter {
  font-family: 'Bungee', sans-serif;
  padding-right: 1.5em;
}

main div {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

main div button {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  background-color: #4056A1;
}

#alerts1 {
  display: none;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  padding: 20px 30px;
  color: red;
}

#alerts2 {
  display: none;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  padding: 20px 30px;
  color: red;
}

@media only screen and (min-width: 1024px) {
  
  main {
    padding-top: 120px;
    width: 50%;
    height: fit-content;
    float: right;
  }

  main.container {
    width: 50%;
    float: right;
  }

  header {
    width: 50%;
    height: 100vh;
    float: left;
  }

  textarea#tweet-text {
    width: 45vw;
  }
}
